{{!-- Orginal from https://codepen.io/faaezahmd/pen/dJeRex by Faiz Ahmed
Modified by Yifei Wang on 15 Jul, 2021 --}}
<div class="subject-detail-container">
    <script>
        function fillContent(){
            var subForm = document.getElementsByClassName("table-row")
            var nameList = []
            var percentageList = []
            var scoreList = []
            var targetList = []

            for (var i=0;i<subForm.length;i++){
                nameList.push(subForm[i].getElementsByTagName("div")[0].innerHTML)
                percentageList.push(subForm[i].getElementsByTagName("div")[1].innerHTML)
                scoreList.push(subForm[i].getElementsByTagName("div")[2].innerHTML)
                targetList.push(subForm[i].getElementsByTagName("div")[3].innerHTML)
            }

            document.getElementById("name").value = nameList
            document.getElementById("percentage").value = percentageList
            document.getElementById("score").value = scoreList
            document.getElementById("target").value = targetList
        }
        function checkTarget() {
            var target = document.getElementsByClassName("tar")
            var perccentage = document.getElementsByClassName("per")
            var assignmentName = document.getElementsByClassName("ass")
            var overallTarget = document.getElementById("overallTarget")
            var myScore = document.getElementsByClassName("sco")
            var totalScore = 0
            var isNumber = 0
            for(var j = 0; j < assignmentName.length; j++) {
                if(!isNaN(myScore[j].innerHTML)) {
                    totalScore += Number(myScore[j].innerHTML)
                    isNumber++
                }
            }
            if (totalScore > overallTarget.value || totalScore == overallTarget.value) {
                alert("congratulations! You achieved your target score now!!!")
            }

            if (isNumber == myScore.length && totalScore < overallTarget.value) {
                alert("Your final score is " + totalScore + ". Unfortunately, your target socre cannot be achieved, Good luck!")
            }
            if(target.length == 1 && target[0].innerHTML.localeCompare('N/A') == 0) {
                alert("Unfortunately, your target socre cannot be achieved in " + assignmentName[0].innerHTML + ". Good luck!")
            }
            for(var i = 0; i < target.length; i++){
                if(target[i].innerHTML.localeCompare('N/A') != 0 && Number(target[i].innerHTML) > Number(perccentage[i].innerHTML) ) {
                    alert("Unfortunately, your target socre cannot be achieved in " + assignmentName[i].innerHTML + ". Good luck!")
                }
            }
        }
    </script>
    <body onload="checkTarget()"></body>
    <h2 class="subject-detail-header">{{subjectInfo.subject_code}} <small>{{subjectInfo.subject_name}}({{subjectInfo.credit}})</small></h2>
    <h3 class="target-header">Target: {{subjectInfo.target}}</h3>
    <input type="hidden" id="overallTarget" value="{{subjectInfo.target}}">
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">ASSIGNMENT NAME</div>
            <div class="col col-2">PERCENTAGE (%)</div>
            <div class="col col-3"><b>MY SCORE</b></div>
            <div class="col col-4"><b>TARGET</b></div>
        </li>
        {{#each assignmentInfo}}
        <li class="table-row" >
            <div class="col col-1 ass" data-label="Assignment Name" id="ass">{{this.name}}</div>
            <div class="col col-2 per" data-label="Percentage" id="per">{{this.percentage}}</div>
            {{#if this.current_score}}
                <div class="col col-3 sco" data-label="My Score" id="sco">{{this.current_score}}</div>
            {{else}}
                <div class="col col-3 sco" data-label="My Score" id="sco">N/A</div>
            {{/if}}
            {{#if this.target}}
                <div class="col col-4 tar" data-label="Target" id="tar">{{this.target}}</div>
            {{else}}
                <div class="col col-4 tar" data-label="Target" id="tar">N/A</div>
            {{/if}}
        </li>
        <script>

        </script>
        {{/each}}
    </ul>
    <center>
        <form action="add-score" method="post" class="delete-btn-form" id="submission">
            <input type="hidden" id="name" name="assignments" value="null">
            <input type="hidden" id="percentage" name="percentages" value="null">
            <input type="hidden" id="score" name="scores" value="null">
            <input type="hidden" id="target" name="targets" value="null">
            <input type="hidden" id="subject" name="subject" value="{{subjectInfo._id}}">
            <button onclick="fillContent()" type="submit" class="submit-btn">Edit Assignment</button>
        </form>
        <form action="delete-subject" method="post" class="delete-btn-form">
            <button type="submit" class="submit-btn delete-subject">Delete Subject</button>
        </form>
    </center>
</div>