{{!-- Orginal from https://codepen.io/faaezahmd/pen/dJeRex by Faiz Ahmed
Modified by Yifei Wang on 15 Jul, 2021 --}}
<div class="subject-detail-container">
    <h2 class="subject-detail-header">{{subjectInfo.subject_code}} <small>{{subjectInfo.subject_name}}({{subjectInfo.credit}})</small></h2>
    <h3 class="target-header">Target: {{subjectInfo.target}}</h3>
    <script>
        function fillContent(){
            var subForm = document.getElementsByClassName("table-row")
            var nameList = []
            var percentageList = []
            var scoreList = []
            var targetList = []

            for (var i=0;i<subForm.length;i++){
                nameList.push(subForm[i].getElementsByTagName("div")[0].innerHTML)
                percentageList.push(subForm[i].getElementsByTagName("div")[1].innerHTML)
                scoreList.push(subForm[i].getElementsByTagName("div")[2].innerHTML)
                targetList.push(subForm[i].getElementsByTagName("div")[3].innerHTML)
            }

            document.getElementById("name").value = nameList
            document.getElementById("percentage").value = percentageList
            document.getElementById("score").value = scoreList
            document.getElementById("target").value = targetList
        }
    </script>

    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">ASSIGNMENT NAME</div>
            <div class="col col-2">PERCENTAGE (%)</div>
            <div class="col col-3">MY SCORE</div>
            <div class="col col-4">TARGET</div>
        </li>
        {{#each assignmentInfo}}
        <li class="table-row">
            <div class="col col-1" data-label="Assignment Name" id="ass">{{this.name}}</div>
            <div class="col col-2" data-label="Percentage" id="per">{{this.percentage}}</div>
            <div class="col col-3" data-label="My Score" id="sco">{{this.current_score}}</div>
            <div class="col col-4" data-label="Target" id="tar">80</div>
        </li>
        {{/each}}
    </ul>
    <center>
        <form action="add-score" method="post" class="delete-btn-form" id="submission">
            <input type="hidden" id="name" name="assignments" value="null">
            <input type="hidden" id="percentage" name="percentages" value="null">
            <input type="hidden" id="score" name="scores" value="null">
            <input type="hidden" id="target" name="targets" value="null">
            <input type="hidden" id="subject" name="subject" value="{{subjectInfo._id}}">
            <button onclick="fillContent()" type="submit" class="submit-btn">Add Score</button>
        </form>
        <button class="submit-btn change-info">Change Info</button>
        <form action="delete-subject" method="post" class="delete-btn-form">
            <button type="submit" class="submit-btn delete-subject">Delete Subject</button>
        </form>
    </center>
</div>