<section id="subjectPage"> 
    <script>
        function initialise(){
            // fill in blanks automatically when the page is loaded
            for (var i=0;i<"{{gradeInfo.assLength}}";i++){
                addAssignment()
            }
            var assignmentName = document.getElementById("details").getElementsByClassName("assignmentName")
            var scoresObtained = document.getElementById("details").getElementsByClassName("obtainedScore")
            var scoresTotal = document.getElementById("details").getElementsByClassName("totalScore")
            for (var i=0;i<"{{gradeInfo.assLength}}";i++){
                assignmentName[i].value = "{{gradeInfo.assignList}}".split(",")[i]
                scoresObtained[i].value = "{{gradeInfo.scoresList}}".split(",")[i]
                scoresTotal[i].value = "{{gradeInfo.percentList}}".split(",")[i]
            }
        }
        function addAssignment() {
            // add <label> and <input> every time the function is called
            var subjectForm = document.getElementById("details")
            var n_assignments = subjectForm.getElementsByTagName("label").length + 1
            var label_name= "ass" + n_assignments //ass2, ass3...
            var content = document.createElement('li')
            content.setAttribute("class", label_name)
            content.innerHTML = "<label for=" + label_name + ">ID: </label>".replace("ID", "Assignment " + n_assignments + " Name") +
                                    "<input class='assignmentName' type='text' name='assignmentName' placeholder='For example: Report' required> " + " " + "--" + " " +
                                    "<input class='obtainedScore' type='number' step='0.01' name='obtainedScore'> " + " " +
                                    "<span>% Out Of</span>" + " " +
                                    "<input class='totalScore' type='number' step='0.01' name='totalScore' required>" + " " + 
                                    "<span>%</span>" + " " +
                                    "<button id=" + label_name + " onclick=\"remove_ass(\'" + label_name + "\');\"><img src=\"../image/cancel.png\"></button>"
            subjectForm.appendChild(content)
                                    
        }
        function remove_ass(ass_number) {
            document.getElementsByClassName(ass_number)[0].remove();
        }
        function clearAssignments(){
            // clear all <label> and <input> (only one left)
            var subjectForm = document.getElementById("details")
            subjectForm.innerHTML = "<li class = 'ass1'>" +
                                        "<label for='ass1'>Assignment 1 Name:</label> " +
                                        "<input class='assignmentName' type='text' name='assignmentName' placeholder='For example: Report' required> " + " " + "--" + " " +
                                        "<input class='obtainedScore' type='number' step='0.01' name='obtainedScore'>" + " " +
                                        "<span>% Out Of</span>" + " " +
                                        "<input class='totalScore' type='number' step='0.01' name='totalScore' required>" + " " +
                                        "<span>%</span>" + " "  +
                                        "<button id='ass1' onclick=\"remove_ass('ass1');\"><img src=\"../image/cancel.png\"></button>" +
                                    "</li>"
        }
        function updateAlert(){
            alert("Successfully update your Overall Target Grade")
        }
        function confirm(){
            // check whether the input values are valid
            var inputScores = document.getElementById("details").getElementsByClassName("obtainedScore")
            var inputPercentage = document.getElementById("details").getElementsByClassName("totalScore")
            var sumScores = 0
            const alertString = "Invalid input! Please check: \n" +
            "1. your score for each assignment should not be more than its percentage.\n" +
            "2. your percentages for all assignments should add up to 100%. [eg. A1:40% A2:60%]"
            for (var i=0;i<inputScores.length;i++){
                if (parseFloat(inputScores[i].value)>parseFloat(inputPercentage[i].value)){
                    alert(alertString)
                    return false
                }
                sumScores += parseFloat(inputPercentage[i].value)
            }
            if (sumScores!=100){
                alert(alertString)
                console.log("----")
                return false
            }
            else{
                return true
            }
            
        }
    </script>
    <body onload="initialise()"></body>
    <div class='subjectInfo'>
        <p>Subject Code: <b>{{subjectInfo.subject_code}}</b></p>
        <p>Subject Name: <b>{{subjectInfo.subject_name}}</b></p>
        <p>Credit Point: <b>{{subjectInfo.credit}}</b></p>
        <p>Overall Target Grade: <b>{{subjectInfo.target}}</b></p>
        <p>Estimate your overall grades below:</p>
        <a href="/subject/calcDescription">Click here to read more details</a>
        <button onclick="addAssignment()">Add New</button>
        <button onclick="clearAssignments()">Clear All</button>
        
        <form action="calc" method="post">
            <ul id="details">
            </ul>
            <input type="hidden" name="subjectId" value={{gradeInfo.subjectId}}>
            <input type="hidden" name="overallTarget" value={{subjectInfo.target}}>
            <button type="submit" class="btn" onclick="return confirm()">Calculate Now</button>
        </form>
    </div>
    <a href="/">Back to Homepage</a>
</section>